<input type="file" #fileInput (change)="changeListener($event)">
<button md-button (click)="checkFace()">Check</button>
<!--<img src="{{this.ImageData}}"/>-->
<canvas #imageCanvas></canvas>
<br>
<div *ngFor="let image of this.ImageResult">
    <md-grid-list cols="8">
        <md-grid-tile>Anger:</md-grid-tile>
        <md-grid-tile>
            <md-progress-spinner mode="determinate" [value]="image.scores.anger" ></md-progress-spinner>
        </md-grid-tile>
        <md-grid-tile>Contempt:</md-grid-tile>
        <md-grid-tile>
            <md-progress-spinner mode="determinate" [value]="image.scores.contempt" ></md-progress-spinner>
        </md-grid-tile>
        <md-grid-tile>Disgust:</md-grid-tile>
        <md-grid-tile>
            <md-progress-spinner mode="determinate" [value]="image.scores.disgust" ></md-progress-spinner>
        </md-grid-tile>
        <md-grid-tile>Fear:</md-grid-tile>
        <md-grid-tile>
            <md-progress-spinner mode="determinate" [value]="image.scores.fear" ></md-progress-spinner>
        </md-grid-tile>
        <md-grid-tile>Happiness:</md-grid-tile>
        <md-grid-tile>
            <md-progress-spinner mode="determinate" [value]="image.scores.happiness" ></md-progress-spinner>
        </md-grid-tile>
        <md-grid-tile>Neutral:</md-grid-tile>
        <md-grid-tile>
            <md-progress-spinner mode="determinate" [value]="image.scores.neutral" ></md-progress-spinner>
        </md-grid-tile>
        <md-grid-tile>Sadness:</md-grid-tile>
        <md-grid-tile>
            <md-progress-spinner mode="determinate" [value]="image.scores.sadness" ></md-progress-spinner>
        </md-grid-tile>
        <md-grid-tile>Surprise:</md-grid-tile>
        <md-grid-tile>
            <md-progress-spinner mode="determinate" [value]="image.scores.surprise" ></md-progress-spinner>
        </md-grid-tile>
    </md-grid-list>
</div>
