<md-grid-list cols="2">
        <md-grid-tile>
            <input type="file" #fileInput (change)="changeListener($event)">
        </md-grid-tile>
        <md-grid-tile>
            <button md-button (click)="checkFace()">Check</button>
        </md-grid-tile>
        <md-grid-tile>
            <canvas #imageCanvas></canvas>
        </md-grid-tile>
        <md-grid-tile></md-grid-tile>
</md-grid-list>
<br>
<div *ngFor="let image of this.ImageResult">
    <md-grid-list cols="4" rowHeight="fit">
        <md-grid-tile>Rabbia:</md-grid-tile>
        <md-grid-tile>
            <md-progress-spinner mode="determinate" [value]="image.scores.anger" ></md-progress-spinner>
        </md-grid-tile>
        <md-grid-tile>Disprezzo:</md-grid-tile>
        <md-grid-tile>
            <md-progress-spinner mode="determinate" [value]="image.scores.contempt" ></md-progress-spinner>
        </md-grid-tile>
        <md-grid-tile>Disgusto:</md-grid-tile>
        <md-grid-tile>
            <md-progress-spinner mode="determinate" [value]="image.scores.disgust" ></md-progress-spinner>
        </md-grid-tile>
        <md-grid-tile>Paura:</md-grid-tile>
        <md-grid-tile>
            <md-progress-spinner mode="determinate" [value]="image.scores.fear" ></md-progress-spinner>
        </md-grid-tile>
        <md-grid-tile>Felicita:</md-grid-tile>
        <md-grid-tile>
            <md-progress-spinner mode="determinate" [value]="image.scores.happiness" ></md-progress-spinner>
        </md-grid-tile>
        <md-grid-tile>Neutrale:</md-grid-tile>
        <md-grid-tile>
            <md-progress-spinner mode="determinate" [value]="image.scores.neutral" ></md-progress-spinner>
        </md-grid-tile>
        <md-grid-tile>Tristezza:</md-grid-tile>
        <md-grid-tile>
            <md-progress-spinner mode="determinate" [value]="image.scores.sadness" ></md-progress-spinner>
        </md-grid-tile>
        <md-grid-tile>Sorpresa:</md-grid-tile>
        <md-grid-tile>
            <md-progress-spinner mode="determinate" [value]="image.scores.surprise" ></md-progress-spinner>
        </md-grid-tile>
    </md-grid-list>
</div>
